In [2]:
import pandas as pd
import numpy as np

In [21]:
crimes_df = pd.read_csv("Crimes.csv")
moon_df = pd.read_csv("full_moon.csv")
holidays_df = pd.read_csv("holidays.csv")
weather_df = pd.read_csv("weather.csv")

In [22]:
# crimes_df.head()

#convert Date to datetime
crimes_df["Date"] = pd.to_datetime(crimes_df["Date"])
#make Date into two columns with the date and time
crimes_df["Time"] = crimes_df["Date"].dt.time
crimes_df["Date"] = crimes_df["Date"].dt.date
crimes_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time
0,13210072,JG422242,2023-08-11,0000X S ALBANY AVE,1790,OFFENSE INVOLVING CHILDREN,CHILD ABDUCTION,RESIDENCE,False,True,...,27.0,26,1155914.0,1899709.0,2023,09/16/2023 03:41:56 PM,41.880594,-87.702959,"(41.880594385, -87.702959421)",11:00:00
1,13278080,JG500620,2023-11-11,038XX W MADISON ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,26.0,07,1150898.0,1899740.0,2023,11/18/2023 03:40:25 PM,41.880779,-87.721377,"(41.880779076, -87.721377025)",12:00:00
2,13276884,JG503649,2023-11-10,043XX W AUGUSTA BLVD,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,23.0,07,1147361.0,1906313.0,2023,11/18/2023 03:40:25 PM,41.898885,-87.734196,"(41.898884591, -87.734196199)",05:30:00
3,12990873,JG161829,2019-08-17,008XX N KARLOV AVE,1751,OFFENSE INVOLVING CHILDREN,CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,True,True,...,23.0,17,1148899.0,1905351.0,2019,09/14/2023 03:41:59 PM,41.896215,-87.728572,"(41.89621515, -87.728572048)",01:14:00
4,26262,JE366265,2021-09-08,047XX W HARRISON ST,0110,HOMICIDE,FIRST DEGREE MURDER,CAR WASH,True,False,...,25.0,01A,1144907.0,1896933.0,2021,09/14/2023 03:41:59 PM,41.873191,-87.743447,"(41.873191445, -87.743446563)",04:45:00

In [23]:
# moon_df.head()
#rename FullMoonDates to Date
moon_df.rename(columns = {'FullMoonDates':'Date'}, inplace = True)
#convert Date to datetime
moon_df["Date"] = pd.to_datetime(moon_df["Date"])
moon_df.head()

   Year       Date
0  2005 2005-01-25
1  2005 2005-02-24
2  2005 2005-03-25
3  2005 2005-04-24
4  2005 2005-05-23

In [24]:
# holidays_df.head()
holidays_df['Date'] = pd.to_datetime(holidays_df['Date'])
holidays_df.head()

                      Holiday       Date Day of Week
0              New Year's Day 2010-01-01      Friday
1  Martin Luther King Jr. Day 2010-01-18      Monday
2             Presidents' Day 2010-02-15      Monday
3                Memorial Day 2010-05-31      Monday
4            Independence Day 2010-07-04      Sunday

In [25]:
# weather_df.head()
#rename datetime to Date
weather_df.rename(columns = {'datetime':'Date'}, inplace = True)
#convert Date to datetime
weather_df["Date"] = pd.to_datetime(weather_df["Date"])
weather_df.head()

,name,Date,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"Chicago,United States",2010-01-01,-8.3,-14.5,-11.7,-15.0,-22.4,-19.0,-16.1,69.8,...,6.6,3,NaN,2010-01-01T07:18:22,2010-01-01T16:30:09,0.53,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72534014819,KORD,KMDW,72530094846,74466504838,..."
1,"Chicago,United States",2010-01-02,-11.4,-16.4,-14.1,-18.4,-25.3,-22.6,-19.6,63.1,...,8.5,4,NaN,2010-01-02T07:18:26,2010-01-02T16:31:02,0.57,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72534014819,KORD,KMDW,72530094846,74466504838,..."
2,"Chicago,United States",2010-01-03,-7.9,-17.5,-12.5,-14.7,-25.6,-20.5,-17.6,66.0,...,7.6,4,NaN,2010-01-03T07:18:28,2010-01-03T16:31:56,0.60,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72534014819,KORD,KMDW,72530094846,74466504838,..."
3,"Chicago,United States",2010-01-04,-7.4,-13.1,-10.2,-14.4,-21.3,-17.6,-14.6,69.8,...,3.5,2,NaN,2010-01-04T07:18:27,2010-01-04T16:32:51,0.64,Overcast,Cloudy skies throughout the day.,cloudy,"72534014819,KORD,KMDW,72530094846,74466504838,..."
4,"Chicago,United States",2010-01-05,-5.1,-9.5,-7.9,-11.7,-15.9,-14.2,-12.3,70.8,...,5.8,3,NaN,2010-01-05T07:18:25,2010-01-05T16:33:49,0.67,Overcast,Cloudy skies throughout the day.,cloudy,"72534014819,KORD,KMDW,72530094846,74466504838,..."

In [38]:
# type(crimes_df["Date"][0])
# type(moon_df["Date"][0])
# type(holidays_df["Date"][0])
# type(weather_df["Date"][0])
crimes_df['Date'] = pd.to_datetime(crimes_df['Date'])
type(crimes_df["Date"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [49]:
merged_df =pd.merge(crimes_df, moon_df, on='Date', how='outer')
merged_df =pd.merge(merged_df, holidays_df, on='Date', how='outer')
merged_df =pd.merge(merged_df, weather_df, on='Date', how='outer')
# with all columns
merged_df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,13210072.0,JG422242,2023-08-11,0000X S ALBANY AVE,1790,OFFENSE INVOLVING CHILDREN,CHILD ABDUCTION,RESIDENCE,False,True,...,5.7,8.0,75.0,2023-08-11T05:54:19,2023-08-11T19:56:35,0.84,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,"72534014819,KORD,KMDW,72530094846,F1983,744665..."
1,13202618.0,JG378382,2023-08-11,033XX W FILLMORE ST,2093,NARCOTICS,FOUND SUSPECT NARCOTICS,POLICE FACILITY / VEHICLE PARKING LOT,True,False,...,5.7,8.0,75.0,2023-08-11T05:54:19,2023-08-11T19:56:35,0.84,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,"72534014819,KORD,KMDW,72530094846,F1983,744665..."
2,13172322.0,JG378518,2023-08-11,032XX W CHICAGO AVE,0320,ROBBERY,STRONG ARM - NO WEAPON,DEPARTMENT STORE,False,False,...,5.7,8.0,75.0,2023-08-11T05:54:19,2023-08-11T19:56:35,0.84,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,"72534014819,KORD,KMDW,72530094846,F1983,744665..."
3,13172427.0,JG378628,2023-08-11,008XX N DRAKE AVE,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,5.7,8.0,75.0,2023-08-11T05:54:19,2023-08-11T19:56:35,0.84,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,"72534014819,KORD,KMDW,72530094846,F1983,744665..."
4,13172549.0,JG378859,2023-08-11,006XX S KILDARE AVE,031A,ROBBERY,ARMED - HANDGUN,STREET,False,False,...,5.7,8.0,75.0,2023-08-11T05:54:19,2023-08-11T19:56:35,0.84,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,"72534014819,KORD,KMDW,72530094846,F1983,744665..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512187,NaN,NaN,2024-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.6,5.0,10.0,2024-02-25T06:32:21,2024-02-25T17:35:35,0.54,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72534014819,KORD,KMDW,72530094846,F1983,744665..."
512188,NaN,NaN,2024-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.6,6.0,10.0,2024-02-26T06:30:49,2024-02-26T17:36:48,0.58,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72534014819,KORD,KMDW,72530094846,F1983,744665..."
512189,NaN,NaN,2024-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.6,6.0,30.0,2024-02-27T06:29:16,2024-02-27T17:38:01,0.61,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"72534014819,KORD,KMDW,72530094846,F1983,744665..."
512190,NaN,NaN,2024-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.3,7.0,10.0,2024-02-28T06:27:42,2024-02-28T17:39:13,0.64,"Snow, Rain, Partially cloudy",Clearing in the afternoon with early morning s...,snow,"KORD,KMDW,F1983,KPWK"
512191,NaN,NaN,2024-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.6,6.0,10.0,2024-02-29T06:26:07,2024-02-29T17:40:25,0.68,Clear,Clear conditions throughout the day.,clear-day,"KORD,KMDW,F1983,KPWK"